<table style="width: 600px; margin:0 auto; font-family: Verdana,Geneva,sans-serif!important;color: #555555;border: 0;">
    <tr style="background-color: #f0efed; text-align: center;">
        <td style="padding:20px 30px;">
            <p style="margin-top:25px;font-weight: bold;">Dear <span style="color: #fdaa5e;">{{firstName}}</span> please see the temporary password below.</p>
            <p>Your temporary password is {{password}}</p>
            <p>Thank you for using.</p>
        </td>
    </tr>
</table>
