<table style="width: 600px; margin:0 auto; font-family: Verdana,Geneva,sans-serif!important;color: #555555;border: 0;">
    <tr style="background-color: #f0efed; text-align: center;">
        <td style="padding:20px 30px;">
            <p style="margin-top:25px;font-weight: bold;">Dear <span style="color: #fdaa5e;">Admin,</span></p>
            <p>New service area request for the zip code "{{zipCode}}" submitted by a requester with email "{{email}}".</p>
            <p>Please review it and let them know once you start providing services at this area.</p>
        </td>
    </tr>
</table>
