<table style="width: 600px; margin:0 auto; font-family: Verdana,Geneva,sans-serif!important;color: #555555;border: 0;">
    <tr style="background-color: #f0efed; text-align: center;">
        <td style="padding:20px 30px;">
            <p style="margin-top:25px;font-weight: bold;">Dear <span style="color: #fdaa5e;">{{firstName}}</span>,</p>
            <p>Thank you for registering with us.</p>
            <p>Backend is a FREE service that comes to your home, surveys your construction project, and then submits
                the details to our network of multiple preferred contractors who send in their quotes to fairly compete
                for your business.</p>
        </td>
    </tr>
</table>
